{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="ask2code">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/favicon2.ico' %}">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{%block title %}{% endblock %}</title>
    <base href="/" />
    {% block css %}{% endblock %}
    {% block html_support %}{% endblock %}
</head>
<body ng-controller="{% block controller %}{% endblock %}">
    {% block navbar %}{% endblock %}
    {% block main %}{% endblock%}
    <!-- footer -->
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-sm-4">
                <div class="footer-logo"><img src="{% static 'img/Ask2Code.png' %}"/></div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p>Copyright &copy; 2015 Ask2Code. All rights reserved.</p>
            </div>
            <div class="col-sm-2">
                <dl class="footer-nav">
                    <dt class="nav-title">PORTFOLIO</dt>
                    <dd class="nav-item"><a href="#">Web Design</a></dd>
                    <dd class="nav-item"><a href="#">Branding &amp; Identity</a></dd>
                    <dd class="nav-item"><a href="#">Mobile Design</a></dd>
                    <dd class="nav-item"><a href="#">Print</a></dd>
                    <dd class="nav-item"><a href="#">User Interface</a></dd>
                </dl>
            </div>
            <div class="col-sm-2">
                <dl class="footer-nav">
                    <dt class="nav-title">ABOUT</dt>
                    <dd class="nav-item"><a href="#">The Company</a></dd>
                    <dd class="nav-item"><a href="#">History</a></dd>
                    <dd class="nav-item"><a href="#">Vision</a></dd>
                </dl>
            </div>
            <div class="col-sm-2">
                <dl class="footer-nav">
                    <dt class="nav-title">GALLERY</dt>
                    <dd class="nav-item"><a href="#">Flickr</a></dd>
                    <dd class="nav-item"><a href="#">Picasa</a></dd>
                    <dd class="nav-item"><a href="#">iStockPhoto</a></dd>
                    <dd class="nav-item"><a href="#">PhotoDune</a></dd>
                </dl>
            </div>
            <div class="col-sm-2">
                <dl class="footer-nav">
                    <dt class="nav-title">CONTACT</dt>
                    <dd class="nav-item"><a href="#">Basic Info</a></dd>
                    <dd class="nav-item"><a href="#">Map</a></dd>
                    <dd class="nav-item"><a href="#">Conctact Form</a></dd>
                </dl>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-sm-3 pull-right social-margin-top">
                <div class="text-center center-block">
                <a href="https://www.facebook.com/bootsnipp"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
                <a href="https://twitter.com/bootsnipp"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
                <a href="https://plus.google.com/+Bootsnipp-page"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>
                <a href="mailto:bootsnipp@gmail.com"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>
            </div>
            </div>
        </div>
    </div>
    <!-- end footer -->
    {% block javascript %}{% endblock %}
</body>
</html>